.car-img{
    width: 100%;
    height: 450px;
    
}
.car-img img{
    width: 100%;
    height: 450px;
    object-fit: cover;
    
}
.shadow-car{
    box-shadow: -4px -4px 8px #ffffff73, 4px 4px 6px rgb(39, 38, 38);
}

.car-text{
    
    position: absolute;
    transform: translate(-10%, -25%) ;
    width: 50%;
}
.car-text2{
    
    position: absolute;
    transform: translate(5%, -25%) ;
    width: 50%;
}
.car-text2 span{
    text-transform: uppercase;
    display: block;
    
}
.car-text span{
    text-transform: uppercase;
    display: block;
    
}
.text1{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    position: relative;
    animation: text 3s 1;
    color: #dde1e7;
}
.text2{
    font-size: 30px;
    animation: text 3s 1;
    color: #dde1e7;
}
.text3{
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 8px;
    margin-bottom: 10px;
    position: relative;
    color: #94979b;
    
}
.text4{
    font-size: 30px;
    color: #94979b;
}
@keyframes text{
    0%{
        margin-bottom: -5px;
    }
    30%{
        letter-spacing: 25px;
        
    }
    85%{
        letter-spacing: 8px;
        
    }
}
/* .box-1 { background-color: #FF6766; } */

.btn1 {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 100%;
    cursor: pointer;
  }
  .btn-one {
  color: #FFF;
  transition: all 0.3s;
  position: relative;
}
.btn-one span {
  transition: all 1s;
}
.btn-one::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s;
  border-top-width: 2px;
  border-bottom-width: 2px;
  border-top-style: solid;
  border-bottom-style: solid;
  border-top-color: rgba(255,255,255,0.5);
  border-bottom-color: rgba(255,255,255,0.5);
  transform: scale(0.1, 1);
}
.btn-one:hover span {
  letter-spacing: 2px;
}
.btn-one:hover::before {
  opacity: 1; 
  transform: scale(1, 1); 
}
.btn-one::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  transition: all 0.3s;
  background-color: rgba(255,255,255,0.1);
}
.btn-one:hover::after {
  opacity: 0; 
  transform: scale(0.1, 1);
}