.nav{
    /* margin-left: 10px;
    margin-right: 10px; */
    /* margin-top: 30px; */
    /* border-radius: 16px; */
    /* border-top-left-radius: 16px;
    border-top-right-radius: 16px; */
    /* box-shadow: -4px -4px 8px #ffffff73, 4px 4px 6px rgb(107, 106, 106) ; */
    
    margin-bottom: 20px;
    
  }
  .nav-bg{
    background: #dde1e7;
  }
  .nav-btn{
    background: #dde1e7;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    
    box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    
    
  }

  .nav-btn:hover{
    background: #dde1e7;
    height: 40px;
    width: 100px;
    margin-right: 20px;
    
    box-shadow: inset -7px -7px 20px 0 rgba(255, 255, 255, 0.7), inset 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    color: #4cc6eb;
    transition: all 600ms;
    
    
  }
  .sign-btn{
    background: #dde1e7;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    
    box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .sign-btn:hover{
    background: #dde1e7;
    height: 30px;
    width: 80px;
    margin-right: 10px;
    
    box-shadow: -4px -4px 8px white, 4px 4px 6px rgba(94, 104, 121, .288);
    color: #4cc6eb;
    transition:500ms;
  }
  .img-box{
    height: 50px;
    width: 50px;
    background: #dde1e7;
    box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition:500ms;
   
  }
  .img-box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .img-box2{
    height: 50px;
    width: 50px;
    background: #dde1e7;
    box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
    transition:500ms;
   
  }
  .img-box2:hover{
    height: 50px;
    width: 50px;
    background: #dde1e7;
     box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
    border-radius: 50%;
   
  }
  .img-box:hover{
    height: 50px;
    width: 50px;
    background: #dde1e7;
    box-shadow:  -4px -4px 8px white, 4px 4px 6px rgba(94, 104, 121, .288);
    border-radius: 50%;
   
  }
  .logo{
    color: #4cc6eb;
    /* border: 1px solid  #4cc6eb; */
    box-shadow:  -7px -7px 20px 0 rgba(255, 255, 255, 0.7), 7px 7px 20px 0 rgba(0, 0, 0, 0.2);
  }
  .active{
    color: #4cc6eb;
    border: 1px solid #4cc6eb;
    padding-left: 4px;
    padding-right: 4px;
  }
  .active1{
    color: #4cc6eb;
    border: 1px solid #4cc6eb;
    border-radius: 60%;
    padding-left: 4px;
    padding-right: 4px;
    padding: 4px;
  }
  .not-active{
    
    padding-left: 4px;
    padding-right: 4px;
  }